
/RatingEngine/RatingEngine.UnitTests/obj/Release/netcoreapp3.1
/RatingEngine/RatingEngine.API/bin/Debug
/RatingEngine/RatingEngine.API/obj/Debug
/RatingEngine/RatingEngine.Core/bin/Debug/netcoreapp3.1
/RatingEngine/RatingEngine.Core/obj/Debug/netcoreapp3.1
/RatingEngine/RatingEngine.Core/obj/Release/netcoreapp3.1
/RatingEngine/RatingEngine.Infrastructure/bin/Debug/netcoreapp3.1
/RatingEngine/RatingEngine.Infrastructure/obj/Debug/netcoreapp3.1
/RatingEngine/RatingEngine.Infrastructure/obj/Release/netcoreapp3.1
/RatingEngine/RatingEngine.UnitTests/bin/Debug/netcoreapp3.1
/RatingEngine/RatingEngine.UnitTests/obj/Debug/netcoreapp3.1
/RatingEngine/RatingEngine.UnitTests/bin/Release/netcoreapp3.1
/RatingEngine/RatingEngine.UnitTests/obj
/RatingEngine/RatingEngine.IntegrationTests/bin/Debug/netcoreapp3.1
/RatingEngine/RatingEngine.IntegrationTests/obj/Debug/netcoreapp3.1
