# * : name wildcard
# ** folder path wildcard
# ex: **/bin/ excludes any folder named 'bin' found recursively under the folder that this .gitingore is in

# don't check in build binaries
**/bin/

# KA, 11/1/21 - don't check in publish binaries
**/publish/

# don't check in build artifacts
**/obj/

# don't check in package binaries
**/packages/

# hidden .vscode folders are user specific
**/.vscode/

# hidden .vs folders are user specific
**/.vs/

# readme files don't need checked in unless specifically added
**/*readme*.*

# Files like csproj.user, csproj.pdsync, etc
**/*.csproj.* 

# Output folder for WCF site compilation
PrecompiledWeb/
/.idea/.idea.LabOps/.idea/.gitignore
/ImportService/.idea/.idea.SRC_ImportData_Service/.idea/.gitignore
/.idea/.idea.LabOps/.idea/.name
/ImportService/.idea/.idea.SRC_ImportData_Service/.idea/.name
/.idea/config/applicationhost.config
/.idea/.idea.LabOps/.idea/encodings.xml
/ImportService/.idea/.idea.SRC_ImportData_Service/.idea/encodings.xml
/.idea/.idea.LabOps/.idea/indexLayout.xml
/ImportService/.idea/.idea.SRC_ImportData_Service/.idea/indexLayout.xml
/LabOps.sln.DotSettings.user
/.idea/.idea.LabOps/.idea/riderModule.iml
/ImportService/.idea/.idea.SRC_ImportData_Service/.idea/riderModule.iml
/.idea/.idea.LabOps/.idea/vcs.xml
/ImportService/.idea/.idea.SRC_ImportData_Service/.idea/vcs.xml
/Client/UnitTests/SPAM/Case46SampleCreateFromLightCyclerIXOfile.cs
/Client/MolGenOps/SampleProcessing/ManipSampleCreateFromLightCyclerIXOfile.cs
